__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pyc/
*.pyo/
*.pyd/
*.pyw/
*.pyz/
*.pyzw/
*.ipynb_checkpoints/
*.swp
*.bak
*.bak.*
*.old
*.old.*
*.orig
*.orig.*
*.rej
*.rej.*
*.~*
*~
*.log
*.log.*
*.tmp
*.tmp.*
*.temp

